{% trans_default_domain 'purchaseCredits' %}

{# Number of credits #}
<h3>
    {{ 'label.credits'|trans({'%count%': 2}) }}
</h3>
<p>
    {{ 'label.credits'|trans({'%count%': app.user.credits}) }} : {{ app.user.credits|purchasecredits_format }}&nbsp;
{# Transactions #}
    {{ toolbar_button_text(path('purchasecredits_transactions'), 'transactions') }}
{# Purchase Credits #}
    {{ toolbar_button_text(path('purchasecredits_purchase'), 'credits', 'md', 'true', 'right', 'label.purchase_credits'|trans, 'btn-primary') }}
{# Not enough credits #}
    {% if app.user.credits <= 0 %}
        <br />
        <span class="text-danger"><span class="fas fa-exclamation"></span>&nbsp;{{ 'text.no_credits'|trans }}</span>
    {% endif %}
</p>