{% extends "@c975LPurchaseCredits/layout.html.twig" %}

{% trans_default_domain 'purchaseCredits' %}

{# Defines specific variables #}
{% set title = 'label.purchase_credits'|trans %}

{% block purchaseCredits_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LPurchaseCredits/tools.html.twig', 'purchase', 'md') }}
{# Number of credits #}
    {{ include('@c975LPurchaseCredits/fragments/numberCredits.html.twig') }}
{# Choose number of Credits to purchase #}
    <p>
        {{ 'text.choose_number_credits'|trans }}
    </p>
{# form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Terms of sales acceptance #}
        <div class="checkbox">
            <label for="termsAccepted" class="required">
                <input type="checkbox" id="termsAccepted" name="termsAccepted" required="required" />
                {{ 'label.accept_tos'|trans({'%tosUrl%': tosUrl}, 'services')|raw }}
            </label>
        </div>
{# Test #}
        {% if live == false %}
            <p class="alert alert-danger text-center">
                {{ 'text.test'|trans }}
            </p>
        {% endif %}
{# Submit #}
        <div class="form-group text-center">
            <button type="submit" name="submit" title="{{ 'label.purchase_credits'|trans }}" class="btn btn-block btn-lg btn-primary">
                {{ 'label.purchase_credits'|trans }}
            </button>
        </div>
    {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans({}, 'services') }}
        </em>
    </p>
{% endblock %}