{% extends "@c975LPurchaseCredits/layout.html.twig" %}
{% trans_default_domain 'purchaseCredits' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block purchaseCredits_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LPurchaseCredits/tools.html.twig', 'dashboard', 'md') }}
{# Number of credits #}
    {{ include('@c975LPurchaseCredits/fragments/numberCredits.html.twig') }}
{# Transactions #}
    <p class="text-center">
        {{ toolbar_button_text(path('purchasecredits_transactions'), 'transactions', 'md', 'true', 'right', 'label.transactions'|transchoice(2)) }}
    </p>
{# Purchase Credits #}
    <p class="text-center">
        {{ toolbar_button_text(path('purchasecredits_purchase'), 'credits', 'md', 'true', 'right', 'label.purchase_credits'|transchoice(2)) }}
    </p>
{# Not enough credits #}
    {% if app.user.credits <= 0 %}
        <p class="alert alert-danger text-center">
            <span class="fas fa-exclamation"></span>&nbsp;{{ 'text.no_credits'|trans }}
        </p>
    {% endif %}
{% endblock %}