{% extends "@c975LPurchaseCredits/layout.html.twig" %}
{% trans_default_domain 'purchaseCredits' %}
{% set title = 'label.transactions'|transchoice(1) ~ ': ' ~ transaction.orderId %}

{% block purchaseCredits_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LPurchaseCredits/tools.html.twig', 'transaction', 'md', transaction) }}
{# Date #}
    <p>
        {{ 'label.date'|trans({}, 'payment') }}: <strong>{{ transaction.creation|localizeddate('long', 'short') }}</strong>
    </p>
{# OrderId #}
    <p>
        {{ 'label.order_id'|trans({}, 'payment') }}: <strong>{{ transaction.orderId }}</strong>
    </p>
{# Credits #}
    <p>
        {{ 'label.credits'|transchoice(2) }}:
        {{ transaction.credits|purchasecredits_format }}
    </p>
{# Description #}
    <p>
        {{ 'label.description'|trans({}, 'payment') }}: <strong>{{ transaction.description }}</strong>
    </p>
{% endblock %}